* {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image: url("images/icon.png");
	background-position: center;

}
