.filters {
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: absolute;
	align-items: center;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	right: 30px;
	opacity; 1;
}

button:hover {
	opacity: 0.9;
}
